<!-- last: https://www.lynda.com/Vue-js-tutorials/Lifecycle-hooks/5028668/2700158-4.html

Repl: https://repl.it/@RockyKev/lynda-vue-overview
Public: https://lynda-vue-overview--rockykev.repl.co

--> 


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

  <!-- content --> 
  
  <div class="container" id="app">
 
  <!-- nav bar -->
    <nav class="navbar navbar-light bg-light fixed-top" >
      <div class="navbar-text ml-auto">
        <button type="button" class="btn btn-outline-info" v-on:click="sliderStatus = !sliderStatus">Toggle Slider </button>
        <div style="display: inline;" v-if="cart.length > 0">
        <b> cart:</b>
        <span class="badge badge-pill badge-success">{{cart.length}}</span>
        </div>
      </div>
    </nav>
  

    <!-- Using VUE for CSS-->
  <!-- add a transition (1 - define name, 2 - define v-if, 3 - set up css) --> 
  <transition name="fade">
    <div v-if="sliderStatus"> 
      <div class="form-inline mr-auto" :class="sliderState">
        <!-- <label :class="['font-weight-bold', 'mr-2']" for="formMax">max</label> <!-- using array -->
        <!-- <label :class="formCSS" for="formMax">max</label> <!-- using variable -->
        
        <!-- <label style="font-weight: 900; font-size:20px; padding-right: 20px" for="formMax">max</label> <!-- Using style attribute --> 
        <!-- <label :style="{'font-weight': '900', 'font-size':'20px', 'padding-right': '20px'}" for="formMax">max</label> <!-- Using style attribute, by passing object--> 
      <label :style="formOBJECT" for="formMax">max</label> 

      <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
      <!-- with both regular classes and VUE v-binding --> 
      <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
      </div>
    </div>
  </transition>

    <!-- a for loop and if statement --> 
    <div class="row d-flex mb-3 align-items-center" v-for="item in products" v-if="item.price<=Number(maximum)">

    <!-- buttons --> 
    <div class="col-1 m-auto">
      <button class="btn btn-info" v-on:click="addItem(item)">+</button>
    </div>

      <!-- displays the content --> 
      <div class="col-sm-4">
        <img class="img-fluid d-block" :src="item.image" :alt="item.name">
      </div>
      <div class="col">
        <h3 class="text-info">{{ item.name }} </h3>
    <p class="mb-0"> {{ item.description}} </p>
    <div class='h5 float-right'>${{ item.price }} </div>
      </div>
    </div>



  </div>
    <!-- import the scripts
    SRI hash: https://www.srihash.org/ --> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>



    <!-- VUE content --> 
    <script src="script.js"></script>


  </body>
</html>